html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Technor-Bold';
  src: url('/fonts/Technor-Bold.ttf') format('truetype');
  /* Use 'truetype' instead of 'ttf' */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Technor-Medium';
  src: url('/fonts/Technor-Medium.ttf') format('truetype');
  /* Use 'truetype' instead of 'ttf' */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Technor-Regular';
  src: url('/fonts/Technor-Regular.ttf') format('truetype');
  /* Use 'truetype' instead of 'ttf' */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Technor-Semibold';
  src: url('/fonts/Technor-Semibold.ttf') format('truetype');
  /* Use 'truetype' instead of 'ttf' */
  font-weight: normal;
  font-style: normal;
}




.base {
  background-color: black;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;


  /* background-size: 100vw; */

}

.main-land {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;

}

.selection-buttons {
  column-gap: 20px;
  display: flex;
  margin-bottom: 20px;

}

.selection-buttons button {
  border: solid 5px white;
  border-radius: 10px;
  padding: 6px;
  background-color: white;
  color: black;
  font-family: "Technor-Bold";
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 20px;
  width: 15vh;
  display: flex;

  justify-content: center;

}


.selection-buttons button:hover {
  box-shadow: 0 0 100px #ffffff, 0 0 20px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff;
}

.layout {
  background: url('/interface.svg') no-repeat center center;
  background-size: contain;
  height: 50vh;
  width: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.layout h2 {
  font-family: "Technor-Bold";
  color: white;
  text-transform: uppercase;
  font-size: 4vh;
}

.layout input {
  border: solid 2px white;
  border-radius: 0px;
  padding: 10px;
  background: black;
  text-align: center;
  font-family: "Technor-Bold";
  color: white;
}

.inputbox {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 50%;

}

.layout button {
  border: solid 5px white;
  border-radius: 10px;
  padding: 6px;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 20px;
  font-family: "Technor-Bold";
}

.layout button:hover {
  box-shadow: 0 0 100px #ffffff, 0 0 20px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff;
}

.login-a {
  color: white;
  font-family: "Technor-Bold";
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.game-btn {
  width: 58vh;
  height: 63vh;
  background: url(/game-btn.svg) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-btn button {
  position: absolute;
  top: 31%;
  width: 14vh;
  height: 14vh;
  text-transform: uppercase;
  font-size: 3.3vh;
  font-family: "Technor-Bold";
}

.game-btn button:hover {
  box-shadow: 0 0 100px #ffffff, 0 0 20px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff;
}

.ads-game {
  /* background: white; */
  height: 38vh;
  width: 90vh;
  /* margin-top: 194px; */
  width: 97vh;
  height: 44vh;
  background: url(/frame-ads.svg) no-repeat center center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* top: 31%; */
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -8%;
}

.ads {
  width: 74%;
  height: 82%;
  background: white;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* top: 31%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* bottom: 1%;*/
}

.points {
  position: absolute;
  top: 11%;
  /* bottom: 0; */
  left: 0;
  width: 100%;
  /* height: 26vh; */
  /* background: url(/points.svg) no-repeat center center; */
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2vh;
  text-transform: uppercase;
  font-family: "Technor-Bold";
}

.daily {
  color: white;
  font-size: 5vh;
  text-transform: uppercase;
  font-family: "Technor-Bold";
}

.bot-logout {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.bot-logout button {
  border: solid 5px white;
  border-radius: 10px;
  padding: 6px;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 20px;
  font-family: "Technor-Bold";
}

.redeem {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}


.redeem button {
  border: solid 5px white;
  border-radius: 10px;
  padding: 6px;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 20px;
  font-family: "Technor-Bold";
}

.redeem button:hover {
  box-shadow: 0 0 100px #ffffff, 0 0 20px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff;
}


@media (max-width: 480px) {

  html,
  body {
  overflow: hidden;
  }

  .layout {
    background-size: cover;
    height: 50vh;
    width: 56vh;
  }

  .game-btn {
    width: 100%;
    height: 63%;
    background-size: cover;
  
  }

  .ads-game {

    width: 100%;
    height: 23%;
    bottom: 18%;
}
}